@model MobilniPortalNovicLib.Models.Category

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Category</legend>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>
    <div class="display-label">Parent</div>
    <div class="display-field">
        @(Model.ParentCategory==null ? "None" : Model.ParentCategory.Name)
        </div>
    <div class="display-label">Children</div>
    <div class="display-field">
        @foreach (var i in Model.Children)
        {
            <text> </text>@i.Name
        }
        </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CategoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>


