@model MobilniPortalNovicLib.Models.NewsFile
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>NewsFile</legend>

    <div class="display-label">ShortContent</div>
    <div class="display-field">@Model.ShortContent</div>

    <div class="display-label">Link</div>
    <div class="display-field"><a href="@Model.Link">@Model.Link</a></div>

    <div class="display-label">Title</div>
    <div class="display-field">@Model.Title</div>

    <div class="display-label">Content</div>
    <div class="display-field">@Model.Content</div>

    <div class="display-label">PubDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.PubDate)</div>

    <div class="display-label">Feed</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.Feed.Category.Name).ToString()
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NewsId }) |
    @Html.ActionLink("Back to List", "Index")
</p>


