@model MobilniPortalNovicLib.Models.Feed

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.url)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.url)
    @Html.ValidationMessageFor(model => model.url)
</div>


<div class="editor-label">
    FeedName
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.FeedName)
    @Html.ValidationMessageFor(model => model.FeedName)
</div>
<div class="editor-label">
    NewsSite
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.NewsSiteId, ((IEnumerable<MobilniPortalNovicLib.Models.NewsSite>)ViewBag.PossibleNewsSites).Select(option => new SelectListItem {
        Text = (option == null ? "None" : option.Name), 
        Value = option.SiteId.ToString(),
        Selected = (Model != null) && (option.SiteId == Model.NewsSiteId)
    }), "Choose...")
    @Html.ValidationMessageFor(model => model.NewsSiteId)
</div>
