@model MobilniPortalNovicLib.Models.Feed

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Feed</legend>

    <div class="display-label">url</div>
    <div class="display-field">@Model.url</div>

    <div class="display-label">LastUpdated</div>
    <div class="display-field">@String.Format("{0:g}", Model.LastUpdated)</div>

    <div class="display-label">Category</div>
    <div class="display-field">@(Model.Category == null ? "None" : Model.Category.Name)</div>

    <div class="display-label">NewsSite</div>
    <div class="display-field">@(Model.NewsSite == null ? "None" : Model.NewsSite.Name)</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.FeedId }) |
    @Html.ActionLink("Back to List", "Index")
</p>


