@model IEnumerable<MobilniPortalNovicLib.Models.Feed>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            url
        </th>
        <th>
            LastUpdated
        </th>
        <th>
            Category
        </th>
        <th>
            NewsSite
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FeedId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FeedId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FeedId })
        </td>
        <td>
			@item.url
        </td>
        <td>
			@String.Format("{0:g}", item.LastUpdated)
        </td>
        <td>
			@(item.FeedName)
        </td>
        <td>
			@(item.NewsSite == null ? "None" : item.NewsSite.Name)
        </td>
    </tr>
}

</table>


