@model MobilniPortalNovic.ModelView.UserDetailsModel
@{
    ViewBag.Title = "Details";
}

@using MobilniPortalNovic.Helpers;

<h2>Details</h2>

<fieldset>
    <legend>User</legend>

    <div class="display-label">Username</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Username)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<div class="leftCol">
    <h1>Feed counts</h1>
    <div class="Feed counts">
        <table>
            <tr>
                <th>FeedName</th>
                <th>#</th>
            </tr>
            @foreach (var i in Model.feedStats.OrderByDescending(x=>x.Value))
            {

                <tr>
                    <td>@i.Key</td>
                    <td>@i.Value</td>
                </tr>
            }
        </table>


    </div>
    <div class="Category counts">
        <h1>Click counts</h1>
        <table>
            <tr>
                <th>FeedName</th>
                <th>#</th>                
                <th>%</th>
            </tr>
            @foreach (var i in Model.categoryStats.OrderByDescending(x=>x.Value))
            {

                <tr>
                    <td>@i.Key.Display()</td>
                    <td>@i.Value</td>
                    <td>@((((float)i.Value) / (float)Model.clicks.Count()).ToString("%#0.00"))</td>
                </tr>
            }
        </table>
    </div>

    <div class="clicks">
        <h1>Clicks</h1>
        @foreach (var i in Model.clicks)
        {
            @Html.ActionLink(i.NewsFile.Title, "Details", new { controller = "NewsFiles", id = i.NewsFile.NewsId }) <br />
        }
    </div>
</div>
<div class="rightCol">
    @Html.Action("IndexHtml", new { controller = "Feed", userId = Model.Id });
</div>

<div id="bottom">
    <br style="clear: both;" />
</div>
