@model MobilniPortalNovicLib.Models.ClickCounter

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.ClickDate)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.ClickDate)
    @Html.ValidationMessageFor(model => model.ClickDate)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Location)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Location)
    @Html.ValidationMessageFor(model => model.Location)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.NewsId)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.NewsId)
    @Html.ValidationMessageFor(model => model.NewsId)
</div>

<div class="editor-label">
    User
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.UserId, ((IEnumerable<MobilniPortalNovicLib.Models.User>)ViewBag.PossibleUsers).Select(option => new SelectListItem {
        Text = Html.DisplayTextFor(_ => option).ToString(), 
        Value = option.UserId.ToString(),
        Selected = (Model != null) && (option.UserId == Model.UserId)
    }), "Choose...")
    @Html.ValidationMessageFor(model => model.UserId)
</div>
