@model MobilniPortalNovic.ModelView.ClickModelView

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("DeleteAll", "DeleteAll")
</p>
<table>
    <tr>
        <th></th>
        <th>
            ClickDate
        </th>
        <th>
            Location
        </th>
        <th>
            NewsId
        </th>
        <th>
            NewsFile
        </th>
        <th>
            User
        </th>
        <th>
            Category
            </th>
    </tr>

@foreach (var item in Model.Clicks) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClickId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClickId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClickId })
        </td>
        <td>
			@String.Format("{0:g}", item.ClickDate)
        </td>
        <td>
			@item.Coordinates.ConvertToString()
        </td>
        <td>
			@Html.ActionLink(item.NewsId.ToString(), "Details",  new {controller="NewsFiles", id=item.NewsId });
        </td>
        <td>
			@(item.NewsFile == null ? "None" : item.NewsFile.Title)
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.User).ToString()
        </td>
        <td>
            @Model.CategoryParents[item.CategoryId].First().Name
            @foreach (var i in Model.CategoryParents[item.CategoryId].Skip(1))
            {
                <text>-></text>@i.Name
            }
        </td>
    </tr>
}

</table>


